body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

button{
  margin-bottom:1%;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imgAvatar{
  width:100px;
  margin-right:10px; 
  display: inline-block; 
}

.HomePageHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top:3vh;
  color:#fff;
}

h1, h2{
  color:#ebb325;
  margin: 2vh 0 2vh 0;
}
 
.Jumbotron{
    background-color: #343A40;
    margin-bottom:0 ;
} 

footer{
  background-color: #343A40;
  color: #fff;
  height: 10vh;
  margin-top:3vh;
  padding-top:3vh;
}

.homePageMain{
  margin: 0;
  padding-bottom: 6vh;
  background-color: #eff1f4;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.secondPHomePage, .HomePageBenefits{
  padding-top:6vh;
}

.HomePageBenefits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homePageSectionText
{
  font-size: 24px;
}

.homePageRow, homePageRow2{
  padding-top:5vh;
  padding-bottom: 3vh;
  flex-direction:row;
}
 

/***********nav bar ***************/
.signupBtn {
  border-radius: 5px;
  background-color: #2c9986;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 5px;
}


/*****Login Form*********/
.loginForm{
  width:50%;
  margin:0 auto;
  padding-bottom: 10vh;
}
.loginHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:4vh 0 4vh 0;
}

/*****Sign UP(register) *********/
.signUpPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:4vh 0 4vh 0;
}


/***********MSG*******************/
.btnLineRight{
 float:right;
}

.msgCards{
  margin-top:5vh;
  border-bottom: 1px solid #FF5454;
  width:100%;
}

.msgCardsCol{
  border-right:1px solid #FF5454;
}
  
.msgPageInput{
  width:80%;
  padding:3px;
  margin-right:10px;
}

.btnUpdateMsg{
  margin-right:10px;
}

/**********VOTING*********************/
.singleVoteTicket{
  border:1px solid #343A40;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
}

.singleVoteTicketHeader{
  background-color: #343A40;
  color:#fff;
  width:100%;
}
.singleVoteTicketHeader h3{
  font-size:2vh;
  padding: 1vh 0 1vh 0 ; 
}
.singleVoteTicketDetails col{
   padding: 2vh 0 2vh 0 ; 
}

.selectOptionsForm{
  padding-top: 2vh;
}

.selectOptionsForm > button{
  background-color: #343A40;
  color: #eff1f4;
  border-radius: 5rem;
  margin-top: 1.5vh;
  padding: 0.8vh 2.5vh 0.8vh 2.5vh; 
  border:1px solid #343A40;
  font-size: 1.6vh;
}

.selectOptionsForm > button:hover{
  background-color: #eff1f4;
  color: #343A40;
  border: 1px solid #343A40;
}



@media only screen and (max-device-width: 480px){
   
  h1{
    font-size:22px;
  }

  h2{
    font-size:20px;
  }

  .homePageSectionText
  {
    font-size: 17px;
    padding: 5px 15px 0 15px; 
    text-align: justify;
  }

  .homePageRow2{
    flex-direction: column-reverse;
  }

}