body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
 
}

button{
  margin-bottom:1%;
}
.App {
  text-align: center;
} 
.btnLink{
  border: 1px solid;
  width: 180px;
  border-radius: 50px;
  margin-bottom:20px;
}

.imgAvatar{
  width:100px;
  margin-right:10px; 
  display: inline-block; 
}

.HomePageHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top:3vh;
  color:#fff;
}

h1, h2, h3{
  color:#ebb325;
  margin: 2vh 0 2vh 0;
}
 
.Jumbotron{
    background-color: #343A40;
    margin-bottom:0 ;
} 

footer{
  background-color: #343A40;
  color: #fff;
  height: 10vh;
  margin-top:3vh;
  padding-top:3vh;
  display: flex;
  width:100%;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
}

footer > .container > a {
  color:#fff;
}

.homePageMain{
  margin: 0;
  padding-bottom: 6vh;
  background-color: #eff1f4;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.secondPHomePage, .HomePageBenefits{
  padding-top:6vh;
}

.HomePageBenefits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homePageSectionText
{
  font-size: 24px;
}

.homePageRow, .homePageRow2{
  padding-top:5vh;
  padding-bottom: 3vh;
  flex-direction:row;
  display: flex;
  align-items: center;
  margin:0; 
}
 

/***********nav bar ***************/
.signupBtn {
  border-radius: 5px;
  background-color: #2c9986;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 5px;
}


/*****Login Form*********/
.loginForm{
  width:50%;
  margin:0 auto;
  padding-bottom: 10vh;
}
.loginHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:4vh 0 4vh 0;
}

/*****Sign UP(register) *********/
.signUpPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:4vh 0 4vh 0;
}


.formInput > input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
} 
.custom-file-upload:hover{
  background-color: #ced4da ;
  opacity: 50%;
}

.submitForm{
  background-color: #2C9986;
  color:#fff;
}
.submitForm:hover{
  background-color:#fff;
  color:#2C9986;
  outline: #2C9986;
  border:1px solid #2C9986; 
}

/***********CONTACT**********/
.rowSpace{margin-bottom:1.5%; }
.contactForm{width:500px;  min-height:68vh;}
/***********MSG*******************/
.btnLineRight{
 float:right;
}

.msgCards{
  margin-top:5vh;
  border-bottom: 1px solid #FF5454;
  width:100%;
}

.msgCardsCol{
  border-right:1px solid #FF5454;
}
  
.msgPageInput{
  width:80%;
  padding:3px;
  margin-right:10px;
  margin-bottom: 2vh; 
}

.btnUpdateMsg{
  margin-right:10px;
}

.avatarIcon{
  width:25px;
  height:25px; 
}
.cmntHeaderTxt{
  color:#2C9986;
  margin-left:10px;
}
/**********VOTING*********************/
.singleVoteTicket{
  border:1px solid #343A40;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
  min-height:350px; 
}

.singleVoteTicketHeader{
  background-color: #343A40;
  color:#fff;
  width:100%;
}
.singleVoteTicketHeader h3{
  font-size:2vh;
  padding: 1vh 0 1vh 0 ; 
}

.selectOptionsForm{
  padding-top: 2vh;
}

.selectOptionsForm > button{
  background-color: #343A40;
  color: #eff1f4;
  border-radius: 5rem;
  margin-top: 1.5vh;
  padding: 0.8vh 2.5vh 0.8vh 2.5vh; 
  border:1px solid #343A40;
  font-size: 1.6vh;
}

.selectOptionsForm > button:hover{
  background-color: #eff1f4;
  color: #343A40;
  border: 1px solid #343A40;
}

.dynamicOptionsInput {
  display: inline-block; 
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom:5px; 
}
.dynamicOptionsInput:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}


.dashboardPieRow{
  border-top:1px solid; 
}


@media only screen and (max-device-width: 480px){
   
  h1{
    font-size:22px;
  }

  h2{
    font-size:20px;
  }

  .homePageSectionText
  {
    font-size: 17px;
    padding: 5px 15px 0 15px; 
    text-align: justify;
  }

  .homePageRow2{
    flex-direction: column-reverse;
  }

  .singleVoteTicketHeader h3
  {
    font-size:4vh; 
  }
  .msgPageInput{
    width:100%;
  }
  .msgCardsCol{
    border-right:0; 
  }
  .contactForm{width:80%; margin:0 auto;}
}