.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HomePageHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top:3vh;
  color:#fff;
}

h1{
  color:#343A40;
  margin: 2vh 0 2vh 0;
}
 
.Jumbotron{
    background-color: #343A40;
    margin-bottom:0 ;
} 

footer{
  background-color: #343A40;
  color: #fff;
  height: 10vh;
  margin-top:3vh;
  padding-top:3vh;
}

.homePageMain{
  margin:0; 
  padding:0;
  background: rgb(77,78,80);
  background: linear-gradient(198deg, rgba(77,78,80,1) 0%, rgba(167,167,167,1) 38%, rgba(255,255,255,1) 100%);
}

.secondPHomePage, .HomePageBenefits{
  padding-top:6vh;
}

.HomePageBenefits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homePageSectionText
{
  font-size: 2.5vh;
  line-height: 4vh;

}

.homePageRow{
  padding-top:5vh;
  padding-bottom: 3vh;
}

.h2red{
  color:#FF5454;
}


/*****Login Form*********/
.loginForm{
  width:50%;
  margin:0 auto;
  padding-bottom: 10vh;
}
.loginHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:4vh 0 4vh 0;
}

/*****Sign UP(register) *********/
.signUpPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:4vh 0 4vh 0;
}


/***********MSG*******************/
.btnLineRight{
 float:right;
}

.msgCards{
  margin-top:5vh;
  padding-bottom: 2vh; 
  border-bottom: 1px solid #FF5454;
  width:100%;
}

.msgCardsCol{
  border-right:1px solid #FF5454;
}